<mat-toolbar-row class="secondary-toolbar">
	<strong>Decisions</strong>
	<span fxFlex></span>

	<button mat-stroked-button color="primary" routerLink="/create">Create Decision</button>

</mat-toolbar-row>


<mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
	<mat-tab label="Public">
		<ng-template matTabContent>
			<mat-list>
				<mat-list-item *ngFor="let decision of decisions">
					<h3 matLine> {{decision.title}} </h3>
					<p matLine>
						<span> {{decision.description}} </span>
						<br>
						<span>Date created: {{ decision.decisionId | date }} </span>
						<br>
						<span>Decision closed: {{ decision.dateClose |  date }} </span>
					</p>
					<a mat-mini-fab [routerLink]="['/decisions/', decision.decisionId]" color="primary">
						<mat-icon class="mat-18">how_to_vote</mat-icon>
					</a>
				</mat-list-item>
			</mat-list>
		</ng-template>
	</mat-tab>
	<mat-tab label="Private">
		<ng-template matTabContent>
			Private Decisions
		</ng-template>
	</mat-tab>
</mat-tab-group>
