<mat-tab-group mat-stretch-tabs>
	<mat-tab label="Vota">
		<ng-template matTabContent>
			<div class="mt-15">
				<div class="mt-15" fxLayout="column">
					<!-- <span ngClass="mat-title">Vota o cambia tu voto</span> -->
					<div class="mt-15">
						<mat-button-toggle-group #vote="matButtonToggleGroup" [(ngModel)]="userVote" (change)="voteHandler(vote.value)">
							<mat-button-toggle *ngFor="let vote of votesOptions" [value]="vote" fxFlex fxLayoutAlign="center center">
								{{ vote | uppercase }}
							</mat-button-toggle>
						</mat-button-toggle-group>
					</div>
					<div class="display-fresh">
						<button mat-stroked-button color="primary" (click)="delegateHandler()" class="pad full-width mt-15">
							<i class="fa fa-address-card"></i> Delega tu decisión
						</button>
					</div>
				</div>
				<hr>
				<!-- <div class="mt-15" fxLayout="column">
					<span ngClass="mat-title">Resultados</span>
					<mat-grid-list cols="3" rowHeight="100px" style="margin-top: 15px;">
						<mat-grid-tile [colspan]="1" [rowspan]="1">
							<div fxLayout="column" class="align-center">
								<span ngClass="mat-headline"><strong>Si</strong></span>
								<span ngClass="mat-headline">{{ (avgYes | async) | percent }}</span>
							</div>
						</mat-grid-tile>
						<mat-grid-tile [colspan]="1" [rowspan]="1">
							<div fxLayout="column" class="align-center">
								<span ngClass="mat-headline"><strong>No</strong></span>
								<span ngClass="mat-headline">{{ (avgNo | async) | percent }}</span>
							</div>
						</mat-grid-tile>
						<mat-grid-tile [colspan]="1" [rowspan]="1">
							<div fxLayout="column" class="align-center">
								<span ngClass="mat-headline"><strong>Blanco</strong></span>
								<span ngClass="mat-headline">{{ (avgBlank | async) | percent }}</span>
							</div>
						</mat-grid-tile>
					</mat-grid-list>
					<hr>
				</div> -->

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						Lista de votos
					</mat-expansion-panel-header>
					<div>
						<mat-list *ngFor="let vote of votes | async; let i = index">
							<mat-list-item *ngIf="!vote.delegated"><span ngClass="mat-body-1">{{ vote.userId | voteName | async }} votó
									<strong> {{ vote.value }} </strong></span></mat-list-item>
							<mat-list-item *ngIf="vote.delegated"><span ngClass="mat-body-1">{{ vote.userId | voteName | async }} delegó su
									voto
									en {{
									vote.representative | voteName | async }} </span></mat-list-item>
							<mat-divider></mat-divider>
						</mat-list>
					</div>
					</mat-expansion-panel>
			</div>
		</ng-template>
	</mat-tab>
	<mat-tab label="Debate">
		<ng-template matTabContent>
			<disqus [identifier]="pageId"></disqus>
		</ng-template>
	</mat-tab>
</mat-tab-group>
