<div *ngIf="auth.user | async; then authenticated else guest">

</div>

<ng-template #guest>

	<div class="align-center">

		<h3>Welcome to Neocratium</h3>
		<h4>Login to get started</h4>

		<div class="display-fresh">
			<button mat-raised-button color="accent" (click)="auth.googleLogin()" class="pad full-width">
				<i class="fa fa-google"></i> Connect with Google
			</button>
		</div>
		<div class="display-fresh">
			<button mat-raised-button color="accent" (click)="auth.facebookLogin()" class="pad full-width">
				<i class="fa fa-facebook"></i> Connect with Facebook
			</button>
		</div>
		<div class="display-fresh">
			<button mat-raised-button color="accent" (click)="auth.twitterLogin()" class="pad full-width">
				<i class="fa fa-twitter"></i> Connect with Twitter
			</button>
		</div>
	</div>
</ng-template>

<ng-template #authenticated>
	<div class="align-center">
		<div *ngIf="auth.user | async as user">
			<h3>Welcome {{user.displayName}},</h3>
			<img [src]="user.photoURL">
			<p>{{user.email}}</p>
			<p>{{user.uid}}</p>
		</div>

		<div class="display-fresh">
			<button mat-raised-button color="primary" routerLink="/decisions" class="pad full-width">¡Go and take Decisions!</button>
		</div>
		<div class="
		 display-fresh">
			<button mat-raised-button color="accent" (click)="auth.signOut()" class="pad full-width">Logout</button>
		</div>
	</div>
</ng-template>
