<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>

	<mat-form-field>
		<mat-select placeholder="User" [(ngModel)]="selectedUser">
			<mat-option>None</mat-option>
			<mat-option *ngFor="let user of usersToDelegate" [value]="user">{{user.displayName}}</mat-option>
		</mat-select>
	</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
	<button class="mat-raised-button" (click)="close()">Close</button>
	<button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
