<div class="margin-5">
	<div class="margin-5" fxLayout="column">
		<span ngClass="mat-body-1">This is how your delegated vote currently looks like:</span>
		<mat-grid-list cols="3" rowHeight="100px" style="margin-top: 15px;">
			<mat-grid-tile [colspan]="1" [rowspan]="1">
				<div fxLayout="column" class="align-center">
					<span ngClass="mat-headline"><strong>Yes</strong></span>
					<span ngClass="mat-headline">{{ (avgYes | async) | percent }}</span>
				</div>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="1" [rowspan]="1">
				<div fxLayout="column" class="align-center">
					<span ngClass="mat-headline"><strong>No</strong></span>
					<span ngClass="mat-headline">{{ (avgNo | async) | percent }}</span>
				</div>
			</mat-grid-tile>
			<mat-grid-tile [colspan]="1" [rowspan]="1">
				<div fxLayout="column" class="align-center">
					<span ngClass="mat-headline"><strong>Blank</strong></span>
					<span ngClass="mat-headline">{{ (avgBlank | async) | percent }}</span>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
	<div class="margin-5" fxLayout="column">

		<span ngClass="mat-body-1">Change your vote:</span>
		<div class="margin-5">
			<mat-button-toggle-group #vote="matButtonToggleGroup" [(ngModel)]="userVote" (change)="voteHandler(vote.value)">
				<mat-button-toggle *ngFor="let vote of votesOptions" [value]="vote" fxFlex fxLayoutAlign="center center">
					{{ vote | uppercase }}
				</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
		<div class="display-fresh">
			<button mat-stroked-button color="primary" (click)="delegateHandler()" class="pad full-width margin-5">
				<i class="fa fa-address-card"></i> Delegate your decision
			</button>
		</div>
	</div>
</div>
<hr>

<div>
	<span ngClass="mat-body-1">Votes casted: </span>
	<mat-list *ngFor="let vote of votes | async; let i = index">
		<mat-list-item *ngIf="!vote.delegated"><span ngClass="mat-body-1">{{ vote.userId | voteName | async }} voted
				<strong> {{ vote.value }} </strong></span></mat-list-item>
		<mat-list-item *ngIf="vote.delegated"><span ngClass="mat-body-1">{{ vote.userId | voteName | async }} delegated in {{ vote.representative | voteName | async }} </span></mat-list-item>
		<mat-divider></mat-divider>
	</mat-list>
</div>
