<!-- <mat-toolbar-row class="secondary-toolbar">
	<span matLine ngClass="mat-boody-2">Decisions</span>
	<span fxFlex></span>

	<button mat-stroked-button color="primary" routerLink="/create">Create Decision</button>

</mat-toolbar-row> -->


<mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
	<mat-tab label="Decisiones públicas">
		<ng-template matTabContent>
			<mat-list>
				<mat-list-item *ngFor="let decision of decisions"
				[routerLink]="['/decisions/', decision.decisionId]">
					<span matLine ngClass="mat-boody-1"> {{decision.title}} </span>
					<span matLine ngClass="mat-caption"><strong>Creador:</strong>
						{{ decision.userId |  voteName | async }} </span>
					<span matLine ngClass="mat-caption"><strong>Fecha de inicio:</strong> {{ decision.decisionId |  date }} </span>
					<span matLine ngClass="mat-caption"><strong>Fecha de cierre:</strong> {{ decision.dateClose |  date }} </span>
					<a mat-mini-fab [routerLink]="['/decisions/', decision.decisionId]" color="primary">
						<mat-icon class="mat-18">how_to_vote</mat-icon>
					</a>
				</mat-list-item>
			</mat-list>
		</ng-template>
	</mat-tab>
	<mat-tab label="Decisiones privadas">
		<ng-template matTabContent>
			<span matLine ngClass="mat-title">Próximamente...</span>
		</ng-template>
	</mat-tab>
</mat-tab-group>
