<mat-toolbar color="primary">
	<div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
		<button mat-button class="full-width menu-button" [routerLink]="['/decisions']" routerLinkActive="router-link-active" >
			<div fxLayout="column" fxLayoutAlign="center center">
				<mat-icon>storage</mat-icon><span ngClass="mat-caption">Decisions</span>
			</div>
		</button>
		<button mat-button class="full-width menu-button" [routerLink]="['/forum']" routerLinkActive="router-link-active" >
			<div fxLayout="column" fxLayoutAlign="center center">
				<mat-icon>forum</mat-icon><span ngClass="mat-caption">Forum</span>
			</div>
		</button>
		<button mat-button class="full-width menu-button" [routerLink]="['/create']" routerLinkActive="router-link-active" >
			<div fxLayout="column" fxLayoutAlign="center center">
				<mat-icon>add</mat-icon><span ngClass="mat-caption">Create</span>
			</div>
		</button>
	</div>
</mat-toolbar>
